@import '../../main.scss';

.chat-button {
    border-radius: 50px !important;
    background: #FFFFFF !important;
    color: #49A7FF !important;
    border-color: #CCCCCC !important;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    cursor: pointer !important;

}