@import '../../main.scss';
.bubble-wrap {
    overflow: hidden;
    .bubble {
        color: #fff;
        display: inline-block;
        background: $botblue;
        padding: 15px 25px;
        margin: 10px 0 0;
        border-radius: 50px;
        font-size: 20px;
        font-weight: normal;
        line-height: 1;
        opacity: .7;
        @include media-breakpoint-up(sm) {
            font-size: 26px;
        }
        &.sent {
            opacity: 1;
        }
        &.other {
            text-align: left;
            float: left;
            background: #D8D8D8;
            color: #2B2B2B;
        }
        &.me {
            text-align: right;
            float: right;
            background: $botblue;
            color: #fff;
        }
    }
}